<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net451" />
  <package id="AutoMapper" version="4.1.1" targetFramework="net46" />
  <package id="CommonServiceLocator" version="1.3" targetFramework="net451" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net451" />
  <package id="Flurl" version="1.0.10" targetFramework="net46" />
  <package id="Flurl.Http" version="0.7.0" targetFramework="net46" />
  <package id="LinqKit" version="1.1.3.1" targetFramework="net46" />
  <package id="log4net" version="2.0.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.Cors" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net451" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="2.2.1" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.OwinSelfHost" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Cors" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Hosting" version="3.0.1" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net451" />
  <package id="Nito.AsyncEx" version="3.0.1" targetFramework="net46" />
  <package id="NLog" version="3.2.1" targetFramework="net451" />
  <package id="NUnit" version="2.6.4" targetFramework="net451" />
  <package id="Owin" version="1.0" targetFramework="net451" />
  <package id="PagedList" version="1.17.0.0" targetFramework="net451" />
  <package id="Repository.Pattern" version="3.3.5.1" targetFramework="net451" />
  <package id="Repository.Pattern.Ef6" version="3.3.5.1" targetFramework="net451" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net46" />
  <package id="SlowCheetah" version="2.5.15" targetFramework="net46" />
</packages>