<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net451" />
  <package id="Autofac.Owin" version="3.1.0" targetFramework="net451" />
  <package id="AWSSDK.Core" version="3.1.3.3" targetFramework="net46" />
  <package id="AWSSDK.S3" version="3.1.3.4" targetFramework="net46" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net451" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net451" />
  <package id="Flurl" version="1.0.10" targetFramework="net46" />
  <package id="Flurl.Http" version="0.7.0" targetFramework="net46" />
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net46" />
  <package id="IdentityModel" version="1.2.1" targetFramework="net46" />
  <package id="ImageResizer" version="4.0.4" targetFramework="net46" />
  <package id="LinqKit" version="1.1.3.1" targetFramework="net46" />
  <package id="log4net" version="2.0.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net451" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="2.2.1" targetFramework="net451" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.2.1" targetFramework="net451" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Security" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Security.Cookies" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Security.OAuth" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net46" />
  <package id="MiniBuss" version="1.0.2.0" targetFramework="net451" />
  <package id="MongoDB.Bson" version="2.1.0" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net451" />
  <package id="NodaTime" version="1.3.1" targetFramework="net46" />
  <package id="NReco.PhantomJS" version="1.0.2.0" targetFramework="net46" />
  <package id="NuGet.Core" version="2.9.0" targetFramework="net46" />
  <package id="Owin" version="1.0" targetFramework="net451" />
  <package id="PhantomJS" version="2.0.0" targetFramework="net46" />
  <package id="Repository.Pattern" version="3.3.5.1" targetFramework="net451" />
  <package id="Repository.Pattern.Ef6" version="3.3.5.1" targetFramework="net451" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net46" />
  <package id="Softwarekueche.MimeTypeDetective" version="0.3.0.2" targetFramework="net46" />
  <package id="SwfDotNet.IO" version="1.0.0.1" targetFramework="net46" />
  <package id="System.IdentityModel.Tokens.Jwt" version="4.0.2.206221351" targetFramework="net46" />
</packages>