@model Brandscreen.WebApi.Areas.HelpPage.ModelDescriptions.ModelDescription

<div id="body" class="help-page">
    <section class="content-wrapper main-content clear-fix">
        @Html.DisplayFor(m => Model)
    </section>
</div>