<?xml version="1.0" encoding="utf-8"?>

<appSettings>
  <!--mvc-->
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!--site-->
  <add key="Site.Profiling" value="false" />
  <add key="Site.ProfilingInterval" value="300" />
  <add key="Site.QueueEndPoint" value="ssb_brandscreen_receiver" />
  <!--creative-->
  <add key="Creative.RegexBeaconUrl" value="^https?://view.atdmt.com/*|^https?://[^\.]+.serving-sys.com/BurstingPipe/adServer.bs|^https?://ad((\.|-)[^\.]+)?.doubleclick\.net/ddm/trackimp/.*|^https?://ad((\.|-)[^\.]+)?.doubleclick.net/imp.*|^https?://ad((\.|-)[^\.]+)?.doubleclick.net/ad.*sz=1x1.*|https?://idigger.allyes.com/main/s.*|^https?://ad.ymasfmg.com/pixel|^https?://[a-zA-Z0-9]+.cn.miaozhen.com/x.gif|^https?://[a-zA-Z0-9]+.admaster.com.cn|^https?://file.chanet.com.cn/image.cgi|^https?://[\w^\.]+\.mookie1\.com/.*|^https?://[\w^\.]+\.rtbidder\.net/.*|https?://\w+\.scorecardresearch\.com/p\?.*|^https?://[^\.]+.mediaplex.com/ad/bn/*|.koolbao.com/tb/|^https?://[^\.]+.adsafeprotected.com/.*|^https?://adsfac.net/trk.asp*|^https?://bcp.crwdcntrl.net/*" />
  <add key="Creative.RegexFbxBeaconUrl" value="^https?://view.atdmt.com/*|^https?://[^\.]+.serving-sys.com/BurstingPipe/adServer.bs|^https?://ad((\.|-)[^\.]+)?.doubleclick\.net/ddm/trackimp/.*|^https?://ad((\.|-)[^\.]+)?.doubleclick.net/imp.*|^https?://ad((\.|-)[^\.]+)?.doubleclick.net/ad.*sz=1x1.*|^https?://adsfac.net/trk.asp.*|^https?://altfarm.mediaplex.com/ad/bn/*" />
  <add key="Creative.MediaSizeDiscrepancy" value="3" />
  <add key="Creative.ThumbnailWidth" value="160" />
  <add key="Creative.ThumbnailHeight" value="160" />
  <add key="Creative.DoohPreviewWidth" value="345" />
  <add key="Creative.DoohPreviewHeight" value="345" />
  <add key="Creative.MaxDoohImageSizeInKb" value="1024" />
  <add key="Creative.MaxDoohVideoSizeInKb" value="10240" />
  <add key="Creative.SendingRejectionEmail" value="true" />
  <add key="Creative.VastUrlMacroReplacements" value="[timestamp],{CACHEBUSTER},%%CACHEBUSTER%%,{CACHEBUSTER},[referrer_url],{REFERER},[description_url],{DESC_URL}" />
  <!--amazon-->
  <add key="Amazon.AccessKey" value="AKIAI3HFDYR6CZQTWQ3Q" />
  <add key="Amazon.SecretKey" value="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" />
  <add key="Amazon.BucketCreative" value="dev-creatives-rtbidder" />
  <add key="Amazon.BucketCreativeUrl" value="https://dev-creatives-rtbidder.s3.amazonaws.com" />
  <!--strategy-->
  <add key="Strategy.RegexBrandSafetyBypassingAccounts" value="cadreon|xaxis|ikon|annalect|accuen new zealand|accuen - PHDIQ" />
  <add key="Strategy.BrandSafetyLevelForBypassingAccounts" value="100" />
  <!--security-->
  <add key="Security.LoginPath" value="/Account/Login" />
  <add key="Security.TokenEndpointPath" value="/token" />
  <add key="Security.PublicClientId" value="brandscreen" />
  <add key="Security.Issuer" value="https://api.brandscreen.com/" />
  <add key="Security.AudienceId" value="brandscreen" />
  <add key="Security.AudienceSecret" value="ZGIxZDU3NTgyYzMxNDE0NGEwYzc1NDNiYWQ0Njg5ZjA=" />
</appSettings>