<?xml version="1.0" encoding="utf-8"?>

<appSettings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--amazon-->
  <add key="Amazon.BucketCreative" value="dev-creatives-rtbidder"
       xdt:Locator="Match(key)" xdt:Transform="Replace" />
  <add key="Amazon.BucketCreativeUrl" value="https://dev-creatives-rtbidder.s3.amazonaws.com"
       xdt:Locator="Match(key)" xdt:Transform="Replace" />
  <!--security-->
  <add key="Security.AudienceSecret" value="ZGIxZDU3NTgyYzMxNDE0NGEwYzc1NDNiYWQ0Njg5ZjA="
     xdt:Locator="Match(key)" xdt:Transform="Replace" />
</appSettings>