<?xml version="1.0" encoding="utf-8"?>

<appSettings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--amazon-->
  <add key="Amazon.BucketCreative" value="creatives-rtbidder"
       xdt:Locator="Match(key)" xdt:Transform="Replace" />
  <add key="Amazon.BucketCreativeUrl" value="https://creatives.brandscreen.com"
       xdt:Locator="Match(key)" xdt:Transform="Replace" />
  <!--security-->
  <add key="Security.AudienceSecret" value="ZjJiYjY1NGEyOTY5NDM4Y2E5NDM1MDNlNGU4NzkwZDA="
     xdt:Locator="Match(key)" xdt:Transform="Replace" />
</appSettings>