<?xml version="1.0" encoding="utf-8"?>

<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add name="BrandscreenContext" connectionString="Data Source=sg1dspdbpcli.brandscreen.net;Initial Catalog=Brandscreen;uid=web;pwd=wW7UVr62"
       xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  <add name="BrandscreenAnalyticsContext" connectionString="Data Source=sg1dspdbpcli.brandscreen.net;Initial Catalog=Brandscreen_Analytics;uid=web;pwd=wW7UVr62"
       xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  <add name="BrandscreenMembershipContext" connectionString="Data Source=sg1dspdbpcli.brandscreen.net;Initial Catalog=Brandscreen_Membership;uid=web;pwd=wW7UVr62"
       xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
</connectionStrings>