<?xml version="1.0" encoding="utf-8"?>

<connectionStrings>
  <add name="BrandscreenContext" connectionString="Data Source=.;Initial Catalog=Brandscreen;uid=web;pwd=wW7UVr62" providerName="System.Data.SqlClient" />
  <add name="BrandscreenAnalyticsContext" connectionString="Data Source=.;Initial Catalog=Brandscreen_Analytics;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <add name="BrandscreenMembershipContext" connectionString="Data Source=.;Initial Catalog=Brandscreen_Membership;uid=web;pwd=wW7UVr62" providerName="System.Data.SqlClient" />
</connectionStrings>