<?xml version="1.0" encoding="utf-8"?>

<nlog>
  <targets>
    <target name="logfile" type="File" fileName="${basedir}/log.txt" layout="${longdate} ${level:padding=-5} ${logger} ${message} ${exception:format=tostring}" encoding="utf-8" />
    <target name="httplogfile" type="File" fileName="${basedir}/log-http.txt" layout="${longdate} ${level:padding=-5} ${logger} ${message} ${exception:format=tostring}" encoding="utf-8" />
    <target name="debugger" type="Debugger" layout="${logger} ${message} ${exception:format=tostring}" />
    <target name="console" type="Console" layout="${logger} ${message} ${exception:format=tostring}" />
  </targets>
  <!--Note: there are exceptions throwing from OwinHttpListener when disposing web app in self-host environment,
  skipping these kind of errors in console so that they won't be captured by tests runner
  but the errors still get recorded in log-http.txt depending on nlog configuration.-->
  <rules>
    <!--Log levels: Fatal, Error, Warn, Info, Debug, Trace, Off-->
    <logger name="*" minlevel="Trace" writeTo="logfile">
      <filters>
        <when condition="equals('${logger}','Microsoft.Owin.Host.HttpListener.OwinHttpListener')" action="Ignore" />
      </filters>
    </logger>
    <logger name="*" minlevel="Trace" writeTo="httplogfile">
      <filters>
        <when condition="not equals('${logger}','Microsoft.Owin.Host.HttpListener.OwinHttpListener')" action="Ignore" />
      </filters>
    </logger>
    <logger name="*" minlevel="Trace" writeTo="debugger" />
    <logger name="*" minlevel="Trace" writeTo="console">
      <filters>
        <when condition="equals('${logger}','Microsoft.Owin.Host.HttpListener.OwinHttpListener')" action="Ignore" />
      </filters>
    </logger>
  </rules>
</nlog>