<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <machineKey decryption="Auto" decryptionKey="EE55A2C6300A6BC9EC862A3487154F068487CF7E09FB2D3E" validation="SHA1" validationKey="6A0E1EE9DE218ABB82BA14910C5CC5CACF2B6AB5720989D7126F0B27A5552444B3B1DD852E6D62D852490C8F94840096BB20CBB0CF355D9D403A9BB8EDC1F903"
                xdt:Transform="Insert" />
  </system.web>

</configuration>