<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <machineKey decryption="Auto" decryptionKey="082107D5615F7CD46FECE39B10C88FE822683BB529EE33C0" validation="SHA1" validationKey="7B1D32F6E2DEA3702EA064ABF53E9CBCCF8AA98A21D98A150BA82CF62C4B32C6A10A63232895B87058BD8F61F3D3F1265D75D5F04C2D0B38CD58EBBAE247B2E5"
                xdt:Transform="Insert" />
  </system.web>

</configuration>