@model Brandscreen.WebApi.Models.Mvc.Manage.ChangePasswordViewModel
<h4>Change your password</h4>
<hr/>

<form name="passwordForm" class="form-horizontal" action="@Url.Action("Password", "Manage", new {area = ""})" role="form" novalidate>
    <div class="form-group" ng-class="{'has-error': passwordForm.oldPassword.$dirty && passwordForm.oldPassword.$invalid}">
        @Html.LabelFor(m => m.OldPassword, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            <input name="oldPassword" type="password" class="form-control" ng-model="vm.passwordForm.oldPassword" ng-required="true"/>
            <span class="help-block" ng-show="passwordForm.oldPassword.$dirty && passwordForm.oldPassword.$error.required">Old password is required.</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': passwordForm.newPassword.$touched && passwordForm.newPassword.$invalid}">
        @Html.LabelFor(m => m.NewPassword, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            <input name="newPassword" type="password" class="form-control" ng-model="vm.passwordForm.newPassword" ng-required="true" ng-minlength="8"/>
            <span class="help-block" ng-show="passwordForm.newPassword.$touched && passwordForm.newPassword.$invalid">New password requires minimum 8 characters.</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': passwordForm.confirmPassword.$dirty && passwordForm.confirmPassword.$error.match}">
        @Html.LabelFor(m => m.ConfirmPassword, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            <input name="confirmPassword" type="password" class="form-control" ng-model="vm.passwordForm.confirmPassword" match="vm.passwordForm.newPassword" />
            <span class="help-block" ng-show="passwordForm.confirmPassword.$dirty && passwordForm.confirmPassword.$error.match">Password does match.</span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" value="Change password" class="btn btn-primary" ng-disabled="passwordForm.$invalid" ng-click="vm.updatePassword()"/>
        </div>
    </div>
</form>